<div id="<%= dom_id friend %>" class="friend-details">

  <div class="column">
    
    <p><strong>First name:</strong> <%= friend.first_name %></p>
    <p><strong>Last name:</strong> <%= friend.last_name %></p>
    <p><strong>Email:</strong> <%= friend.email %></p>
  </div>
  <div class="column">
    <p><strong>Phone:</strong> <%= friend.phone %></p>
    <p><strong>Twitter:</strong> <%= friend.twitter %></p>
  </div>
</div>
